.profile{
  margin-right: auto;
  margin-left: auto;
 flex: 0.5;
 width: 250px;
  background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}
 p{
  color : rgb(91, 112, 131);
  font-size: 14px;
}

.headerSection{
    display: flex;
    align-items: center;
    background: #fff;
}

.dpCover{
  height: 600px;
}

.dpSection{
  background-color: #fff;
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.coverImage{
height: 40%;
background: rgb(196, 207, 214);
}

.profileButton.MuiButton-contained {
    color: rgba(29,161,242,1.00);
    border: rgba(29,161,242,1.00);
    box-shadow: #ffff;
    background-color: #ffff;
    font-weight: 800;
    width: max-content;
    border-radius: 50px;
    padding: 11px;
    text-decoration: none;
    outline: rgba(29,161,242,1.00);
    text-transform: none;
    margin: 10px;
}
.profilButton.MuiButton-contained:hover {
    color: rgba(29,161,242,1.00);
    border: rgba(29,161,242,1.00);
    box-shadow: #ffff;
    background-color: #ffff;

}

.imgSection{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px 15px 15px 15px;;
}

.twitterIcon{
  display: flex;
    justify-content: center;
    margin: 15px;
}
.twitterIcon.MuiSvgIcon-root {
    font-size: 2.5rem;
}

.image-upload>input {
  display: none;
 
}
.image-upload {
  display: flex;
  justify-content: center;
}
.image-upload img{
  border-radius: 50%;
  margin: 15px 0 15px 0;
}

.changeImgBtn{
  display: flex;
  justify-content: flex-end;
}
.changeImgBtn > .MuiButton-contained {
    color: white;
    box-shadow: rgba(29,161,242,1.00);
    background-color: rgba(29,161,242,1.00);
    font-weight: 800;
    width: max-content;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 20px;
}