.signup{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.signup > h1 {
  font-weight: 800;
  margin-bottom: 20px;
}

.signup > a > .MuiSvgIcon-root {
    font-size: 3.5rem;
    fill: rgba(29,161,242,1.00);
}


.signup .MuiFormControl-root {
    width: 350px;
    margin-bottom: 20px;
}

.MuiFormControl-root:focus {
   fill: rgba(29,161,242,1.00);
}

.signup > .MuiButton-contained {
    color: white;
    box-shadow: rgba(29,161,242,1.00);
    background-color: rgba(29,161,242,1.00);
    font-weight: 800;
    width: 350px;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 20px;
}
.signup > .MuiButton-contained:hover {
    color: white;
    box-shadow: rgba(29,161,242,1.00);
    background-color: rgba(29,161,242,1.00);
   
}

.signup > a {
  color: rgba(29,161,242,1.00);
  text-decoration: none;
}

